.ingame {
    display: grid;
    grid-template-columns: 640px auto;
    height: 640px;

    &__top-row {
        height: 150px;
        margin-top: 168px;
        margin-left: 168px;
    }

    &__bottom-row {
        margin-left: 168px;
    }

    &__button {
        width: 150px;
        height: 150px;
        border: none;
        box-sizing: border-box;
        cursor: pointer;
        opacity: 0.7;

        &:hover {
            opacity: 1;
        }

        &_red {
            background-color: red;
            border-top-left-radius: 50%;
        }

        &_yellow {
            background-color: yellow;
            border-top-right-radius: 50%;
        }

        &_green {
            background-color: green;
            border-bottom-right-radius: 50%;
        }

        &_blue {
            background-color: blue;
            border-bottom-left-radius: 50%;
        }
    }

    &__aside {
        background-color: #bbb;
        height: 100%;
    }
}