.settings {
    text-align: center;
    color: #c40c21;

    &__form {
        padding-top: 150px;
    }

    &__text {
        font-size: 4em;
        cursor: default;
    }

    &__label {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        &:hover,
        &:focus-within {
            text-decoration: underline;
        }
    }

    &__radio {
        transform: scale(0);
    }

    &__radio:checked + &__custom-radio {
        background-image: linear-gradient(to right bottom, #ffffff 0%, #c40c21 45%);
    }

    &__custom-radio {
        width: 22px;
        height: 22px;
        border-radius: 100px;
        border: 1px solid #c40c21;
        background-color: transparent;
        transform: translateX(-10px);
    }

    &__difficulty {
        font-size: 2em;
    }

    &__button {
        cursor: pointer;
        color: #c40c21;
        background-color: transparent;
        border: none;
        margin-top: 15px;
        font-size: 3em;
    }
}