* {
    margin: 0;
    padding: 0;
    font-family: Norican, cursive;
}

body {
    background-color: #222222;
}

li {
    list-style-type: none;
}

.game-screen {
    margin: 50px auto;
    border-radius: 20px;
    background-image: linear-gradient(180deg, #3967e6 0%, white 100%);
    max-width: 960px;
    min-height: 640px;
}

@import "StartPage";
@import "Settings";
@import "InGame";